@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6pfjptAgt5VM-kVkqdyU8n1ioq0g.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6sfjptAgt5VM-kVkqdyU8n1ioSJlRFhw.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6sfjptAgt5VM-kVkqdyU8n1ioSClNFhw.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6sfjptAgt5VM-kVkqdyU8n1ioSblJFhw.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F63fjptAgt5VM-kVkqdyU8n5ig.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6qfjptAgt5VM-kVkqdyU8n3twJ8lc.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6qfjptAgt5VM-kVkqdyU8n3vAO8lc.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexmono/v15/-F6qfjptAgt5VM-kVkqdyU8n3pQP8lc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
/* Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
}
body p {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #20201E;
  transition: all 0.3s ease;
}
a:hover {
  color: rgba(32, 32, 30, 0.5);
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #585483;
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}
.modal-menu {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 30, 0.95);
  z-index: 99;
}
.modal-menu.active {
  display: block;
}
.modal-menu .menu-mobile {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modal-menu .menu-mobile a {
  color: #ffffff;
  font-size: 1.25rem;
}
.modal-menu .menu-mobile a:hover {
  text-decoration: underline;
}
header {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 0px 0px 12px #eaeaea;
  transition: all 0.5s ease;
}
header .menu a {
  padding: 0 0.625rem;
  transition: all 0.5s ease;
}
header .burger-menu {
  display: none;
  cursor: pointer;
}
header .dmButton {
  margin-left: 30px;
}
header .dmButton button {
  background-color: transparent;
  border: 1px solid #20201E;
  border-radius: 12px;
  padding: 10px 6px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
header .dmButton button:hover {
  background-color: #20201E;
  color: white;
  transition: all 0.3s ease;
}
header .dmButton button i {
  padding-right: 3px;
}
header .dmButton button #iconolm {
  display: none;
}
header .dmButton button #texto-boton-lm {
  display: none;
}
.main {
  width: 80%;
  max-width: 1080px;
  margin: 5rem auto;
}
.main .portada {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 31.5rem;
  margin: auto;
}
.main .portada .column-left {
  width: 50%;
}
.main .portada .column-left h1 {
  font-size: 1.8rem;
}
.main .portada .column-left h1 span {
  color: #585483;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'IBM Plex Mono', monospace;
}
.main .portada .column-left h2 {
  margin: 0.625rem 0;
  font-weight: 400;
  font-size: 1.5rem;
}
.main .portada .column-left h2 span {
  font-weight: 500;
  color: #20201E;
}
.main .portada .column-left .iconos-portada {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main .portada .column-left .iconos-portada .icono-portada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.625rem;
  padding: 0.625rem;
  border: 1px solid #eaeaea;
  border-radius: 12px;
}
.main .portada .column-left .iconos-portada .icono-portada:last-child {
  margin-right: 0px;
}
.main .portada .column-left .iconos-portada .icono-portada i {
  font-size: 1.875rem;
}
.main .portada .column-left .iconos-portada .icono-portada .titulo-icono {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.main .portada .column-left button {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid #20201E;
  border-radius: 12px;
  padding: 10px 6px;
  cursor: pointer;
  font-size: 0.9rem;
}
.main .portada .column-left button:hover {
  transform: scale(0.95);
  transition: 0.3s all ease;
}
.main .portada .column-left button i {
  margin-right: 0.625rem;
}
.main .portada .column-right {
  width: 50%;
}
.main .portada .column-right img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.main .sobre-mi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31.5rem;
  margin: 4rem auto;
}
.main .sobre-mi div {
  width: 50%;
}
.main .sobre-mi .left-column {
  margin-right: 3.25rem;
}
.main .sobre-mi .left-column img {
  width: 75%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.main .sobre-mi p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9375rem;
  margin-bottom: 1rem;
}
.main .sobre-mi p:last-child {
  margin-bottom: 0;
}
.main .skills {
  margin: 4rem auto;
}
.main .skills h2 {
  text-align: center;
}
.main .skills .iconos-skills {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .skills .iconos-skills .elemento-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  height: 3.75rem;
  width: 25% /*18.75rem*/;
  padding: 0.625rem;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0px 5px 10px #eaeaea;
}
.main .skills .iconos-skills .elemento-skills i {
  font-size: 1.875rem;
  margin-right: 0.75rem;
}
.main .skills .iconos-skills .elemento-skills img {
  max-width: 40px;
  margin-right: 0.75rem;
}
.main .skills .iconos-skills .elemento-skills h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
.main .portfolio {
  margin: 4rem auto;
  width: 100%;
  overflow: hidden;
}
.main .portfolio h2 {
  text-align: center;
  padding: 1rem;
}
.main .portfolio .options {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}
.main .portfolio .options .option {
  cursor: pointer;
  margin: auto 20px;
}
.main .portfolio .options .option:hover {
  color: #585483;
}
.main .portfolio .options .active {
  border-bottom: 1px solid #585483;
  color: #585483;
}
.main .portfolio .contents {
  display: flex;
  width: 300%;
  margin-left: 0;
  transition: all 0.5s ease;
}
.main .portfolio .contents .content {
  display: flex;
  width: 100%;
}
.main .portfolio .contents .content .item-portfolio {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 1rem;
}
.main .portfolio .contents .content .item-portfolio img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}
.main .portfolio .contents .content .item-portfolio h4 {
  font-size: 1rem;
}
.main .portfolio .contents .content .item-portfolio button {
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #20201E;
  border-radius: 12px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.9rem;
}
.main .portfolio .contents .content .item-portfolio button:hover {
  transform: scale(0.95);
  transition: 0.3s all ease;
}
.main .estudios {
  margin: 4rem auto;
  max-height: 360px;
  overflow: hidden;
  transition: all 1s ease;
  box-shadow: inset 0px -20px 10px -15px #eaeaea;
}
.main .estudios.new-height {
  max-height: 2000px;
  box-shadow: none;
  transition: all 1s ease;
}
.main .estudios h2 {
  text-align: center;
}
.main .estudios img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 0.75rem;
}
.main .estudios .items-estudios {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main .estudios .items-estudios p {
  position: absolute;
  bottom: 0px;
}
.main .estudios .items-estudios .item-estudios {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.625rem;
  width: 30%;
  height: 7.5rem;
  padding: 1rem 1.625rem;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  box-shadow: 0px 5px 10px #eaeaea;
}
.main .estudios .items-estudios .item-estudios h4 {
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}
.main .estudios .items-estudios .item-estudios h5 {
  font-size: 0.75rem;
  font-style: italic;
}
.main .estudios .items-estudios .item-estudios .left {
  width: 30%;
}
.main .estudios .items-estudios .item-estudios .right {
  width: 70%;
}
.main .btn-ver-mas {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}
.main .btn-ver-mas button {
  background-color: transparent;
  border: 1px solid #20201E;
  border-radius: 12px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.main .btn-ver-mas button:hover {
  background-color: #20201E;
  color: white;
  transition: all 0.3s ease;
}
.main .btn-ver-mas button i {
  padding-right: 3px;
}
.main .section-contacto {
  width: 70%;
  margin: 4rem auto;
}
.main .section-contacto h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.main .section-contacto .contacto {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section-contacto .contacto .left {
  width: 70%;
}
.main .section-contacto .contacto .right {
  width: 30%;
  margin-right: 3rem;
}
.main .section-contacto .contacto .right img {
  width: 100%;
}
.main .section-contacto .contacto .item-contacto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem auto;
}
.main .section-contacto .contacto .item-contacto i {
  font-size: 2rem;
  margin-right: 0.825rem;
}
.main .section-contacto .contacto .item-contacto h3 {
  font-size: 1rem;
}
@media all and (max-width: 900px) {
  .darkmode header .dmButton button #texto-boton-lm {
    display: none;
  }
}
@media all and (max-width: 1120px) {
  .main .estudios .items-estudios .item-estudios {
    margin: 0.625rem 2rem;
    width: 40%;
  }
}
@media all and (max-width: 900px) {
  header {
    width: 100%;
    padding: 0 4rem;
    justify-content: space-between;
  }
  header .menu {
    display: none;
  }
  header .burger-menu {
    display: block;
  }
  header .dmButton {
    margin-left: 0;
  }
  header .dmButton button i {
    padding-left: 3px;
    padding-right: 3px;
  }
  header .dmButton button p {
    display: none;
  }
  .main {
    padding: 0 1rem;
    width: 100%;
  }
  .main .portada {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .main .portada .column-left {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .portada .column-right {
    width: 100%;
  }
  .main .sobre-mi {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 1rem;
  }
  .main .sobre-mi .left-column {
    margin: 0;
  }
  .main .sobre-mi .left-column img {
    width: 100%;
  }
  .main .sobre-mi div {
    width: 100%;
    margin: 2rem 0;
  }
  .main .skills .iconos-skills .elemento-skills {
    width: auto;
  }
  .main .skills .iconos-skills .elemento-skills h3 {
    font-size: 1rem;
  }
  .main .portfolio .options {
    width: 100%;
  }
  .main .portfolio .options h3 {
    font-size: 1.05rem;
  }
  .main .portfolio .contents .content {
    flex-direction: column;
  }
  .main .portfolio .contents .content .item-portfolio {
    width: 100%;
    margin: 1rem auto;
  }
  .main .estudios .items-estudios .item-estudios {
    width: 40%;
    height: auto;
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .main .estudios .items-estudios .item-estudios .left {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
  }
  .main .estudios .items-estudios .item-estudios .left img {
    height: 50px;
    margin: 0;
  }
  .main .estudios .items-estudios .item-estudios .right {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .main .estudios .items-estudios .item-estudios .right h4 {
    text-align: center;
    font-size: 12px;
  }
  .main .estudios .items-estudios .item-estudios .right h5 {
    text-align: center;
    font-size: 10px;
  }
  .main .section-contacto {
    width: 100%;
  }
  .main .section-contacto h2 {
    margin-bottom: 1rem;
    font-size: 1.625rem;
  }
  .main .section-contacto .contacto {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  .main .section-contacto .contacto .left {
    width: 100%;
  }
  .main .section-contacto .contacto .left a .item-contacto {
    margin: 1rem;
  }
  .main .section-contacto .contacto .left a .item-contacto i {
    font-size: 1.625rem;
  }
  .main .section-contacto .contacto .left a .item-contacto div h3 {
    font-size: 1rem;
  }
  .main .section-contacto .contacto .left a .item-contacto div p {
    font-size: 0.8rem;
  }
  .main .section-contacto .contacto .right {
    width: 100%;
    margin: 1rem 0;
  }
  .main .section-contacto .contacto .right img {
    height: 250px;
    object-fit: cover;
  }
}
.darkmode {
  background-color: #20201E;
}
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode h4,
.darkmode h5,
.darkmode p {
  color: white;
}
.darkmode button {
  color: white;
}
.darkmode header {
  background-color: #20201E;
  border-bottom: 1px solid #3f3f3f;
  box-shadow: 0px 0px 12px #3f3f3f;
}
.darkmode header .menu a {
  color: white;
}
.darkmode header i {
  color: white;
}
.darkmode header .dmButton button {
  border-color: white;
}
.darkmode header .dmButton button:hover {
  background-color: white;
}
.darkmode header .dmButton button:hover i {
  color: #20201E;
}
.darkmode header .dmButton button:hover p {
  color: #20201E;
}
.darkmode header .dmButton button #iconolm {
  display: block;
}
.darkmode header .dmButton button #texto-boton-lm {
  display: block;
}
.darkmode header .dmButton button #iconodm {
  display: none;
}
.darkmode header .dmButton button #texto-boton-dm {
  display: none;
}
.darkmode .main .portada .column-left a button {
  border-color: white;
}
.darkmode .main .portada .column-left span {
  color: white;
}
.darkmode .main .skills .iconos-skills .elemento-skills {
  box-shadow: 0px 5px 10px #3f3f3f;
}
.darkmode .main .portfolio .contents .content .item-portfolio button {
  border-color: white;
}
.darkmode .main .estudios {
  box-shadow: inset 0px -20px 10px -15px #3f3f3f;
}
.darkmode .main .estudios.new-height {
  box-shadow: none;
}
.darkmode .main .estudios .items-estudios .item-estudios {
  box-shadow: 0px 5px 10px #3f3f3f;
}
.darkmode .main .btn-ver-mas button {
  border-color: white;
}
.darkmode .main .section-contacto .contacto .left .item-contacto i {
  color: white;
}
@media all and (max-width: 900px) {
  .darkmode header .dmButton button p {
    display: none !important;
  }
}
